<header class="header">

    <div class="ingreso_registro">
        <a href="/users/login">
            <h3>Logueate! <i class="fa-solid fa-user-shield"></i></h3>
        </a>
        <a href="/users/register">
            <h3>Registrate! <i class="fa-solid fa-id-card"></i></h3>
        </a>
    </div>
    <section class="header__section">
        <article class="header__article">
            <div class="header__user">

                <div class="cart_icon">
                    <a href="/shopping-cart">


                        <i class="fa-solid fa-cart-plus"></i></a>
                </div>


            </div>
            <div class="header__search">
                <input class="shopping__header__button" type="search" name="busquedaproducto"
                    value="Buscar productos, marcas y más ..">
            </div>

        </article>
        <div class="burger-menu">
            <button class="burger-button"><i class="fa-solid fa-bars"></i></button>
        </div>

</header>