<header class="header">

    <div class="ingreso_registro">
        <a href="/users/login">
            <h3>Logueate! <i class="fa-solid fa-user-shield"></i></h3>
        </a>
        <a href="/users/register">
            <h3>Registrate! <i class="fa-solid fa-id-card"></i></h3>
        </a>
    </div>
    <section class="header__section">
        <article class="header__article">
            <div class="header__user">

                <div class="cart_icon">
                    <a href="/products/shopping-cart">


                        <i class="fa-solid fa-cart-plus"></i></a>
                </div>


            </div>
            <form action="/products/search" class="header__search" method="GET">
                <input class="shopping__header__button" type="text" name="keywords"
                    value="Buscar productos, marcas y más ..">
            </form>
            <div>
                <li class="header__agregar"><a href="/products/add"> <h3>Agregar</h3> </a></li>
            </div>
        </article>
        <div class="burger-menu">
            <button class="burger-button"><i class="fa-solid fa-bars"></i></button>
        </div>

</header>