<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailing Products</title>
    <!--Styles-->
    <link rel="stylesheet" href="/css/general.css">
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/b4935bb790.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="detaill">

        <div class="ingreso_registro">
            <a href="/login">
                <h3>Logueate! <i class="fa-solid fa-user-shield"></i></h3>
            </a>
            <a href="/register">
                <h3>Registrate! <i class="fa-solid fa-id-card"></i></h3>
            </a>
        </div>
        <section class="header__section">
            <article class="header__article">
                <div class="header__user">

                    <div class="cart_icon">
                        <a href="/shopping-cart">


                            <i class="fa-solid fa-cart-plus"></i></a>
                    </div>


                </div>
                <div class="header__search">
                    <input class="shopping__header__button" type="search" name="busquedaproducto"
                        value="Buscar productos, marcas y más ..">
                </div>

            </article>
            <div class="burger-menu">
                <button class="burger-button"><i class="fa-solid fa-bars"></i></button>
            </div>

        </header>

        <main>
            <section>
                <article class="detail__main-article">
                    <div class="detail__main-img">
                        <img src="/images/intelcorei3-mini.jpg" alt="">
                    </div>
                    
                    <div class="detail__main-tittle">
                        
                    </div>

                    </div>
                </article>
            </section>
        </main>
</body>
</html>