<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailing Products</title>
    <!--Styles-->
    <link rel="stylesheet" href="/css/general.css">
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/b4935bb790.js" crossorigin="anonymous"></script>
</head>

<body class="body__detail">
    <header class="header">

        <div class="ingreso_registro">
            <a href="/login">
                <h3>Logueate! <i class="fa-solid fa-user-shield"></i></h3>
            </a>
            <a href="/register">
                <h3>Registrate! <i class="fa-solid fa-id-card"></i></h3>
            </a>
        </div>
        <section class="header__section">
            <article class="header__article">
                <div class="header__user">

                    <div class="cart_icon">
                        <a href="/shopping-cart">


                            <i class="fa-solid fa-cart-plus"></i></a>
                    </div>


                </div>
                <div class="header__search">
                    <input class="shopping__header__button" type="search" name="busquedaproducto"
                        value="Buscar productos, marcas y más ..">
                </div>

            </article>
            <div class="burger-menu">
                <button class="burger-button"><i class="fa-solid fa-bars"></i></button>
            </div>

    </header>


    <main>
        <section>
            <article class="detail__main-article">
                <div class="detail__main-img">
                    <img src="/images/intelcorei3-shopping-cart.jpg" alt="">
                </div>

                <div class="detail__main-tittle">
                    <h4> INTEL CORE i3</h4>
                </div>
                <div class="detail__main-subtittle">
                    <h4>CARACTERISTICAS GENERALES </h4>
                </div>
                
                <article class="detail__main-info">
                   <div class="detail__main-info-product">
                    <p>Modelo</p>
                    <p>10100f</p>
                   </div>
                   <div class="detail__main-info-product">
                    <p>Socket</p>
                    <p>1200 Comet Lake</p>
                   </div>
                   <div class="detail__main-info-product"> 
                    <p>Núcleos</p>
                    <p>4</p>
                    </div>
                    <div class="detail__main-info-product">
                    <p>Frecuencia</p>
                    <p>3600.00 mhz</p>
                    </div>
                   <div class="detail__main-info-product">
                    <p>Proceso de fabricación</p>
                    <p>14nm</p>
                   </div>
                   <div class="detail__main-info-product">
                    <p>Chipset Gpu</p>
                    <p>NO POSEE GRÁFICOS INTEGRADOS</p>
                   </div>
                   <div class="detail__main-info-product">
                    <p>Hilos</p>
                    <p>8</p>
                   </div>
                   <div class="detail__main-info-product">
                    <p>Frecuencia turbo</p>
                    <p>4300 mhz</p>
                   </div>
                   <div class="detail__main-info-product">
                    <p>Familia</p>
                    <p>Intel Core i3</p>
                   </div>
                </article>
                
            </article>
            <article class="detail__main-article-button">
                <div class="detail__main-button">
                    <button class="detail__button1"> <h4> AGREGAR AL CARRITO</h4></button>
                </div>
                <div class="detail__main-button"></div>
                    <button class="detail__button2"> <h4> COMPRAR </h4></button>
                </div>
            </article>
        </section>
    </main>
</body>

</html>