<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')  %>

<body>
  
    <%- include('./partials/header')  %>

        <main>
            <section>
                <article class="detail__main-article">
                    <div class="detail__main-img">
                        <img src="/images/intelcorei3-mini.jpg" alt="">
                    </div>
                    
                    <div class="detail__main-tittle">
                        
                    </div>

                    </div>
                </article>
            </section>
        </main>
</body>
</html>