<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/general.css" />

    <title>Hardware-Assembly & you</title>

</head>

<body>
    <header>
        <nav class="menu_header">
            <h3 class="home">HOME</h3>
            <h3 class="registro">REGISTRO</h3>
            <h3 class="login">LOGIN!</h3>
        </nav>
        <div class="carrito"><img src="" alt=""></div>
        <div class="imagen_header"><img src="" alt="" >
        </div>

    </header>

    <main>
        <div class="cuadro_categorias">
            <div class="producto"><img src="" alt=""></div>
            <div class="producto"><img src="" alt=""></div>
            <div class="producto"><img src="" alt=""></div>
            <div class="producto"><img src="" alt=""></div>
            <div class="producto"><img src="" alt=""></div>
            <div class="producto"><img src="" alt=""></div>
            <div class="producto"><img src="" alt=""></div>
            <div class="producto"><img src="" alt=""></div>
            <div class="producto"><img src="" alt=""></div>
            <div class="producto"><img src="" alt=""></div>
            <div class="producto"><img src="" alt=""></div>
            <div class="producto"><img src="" alt=""></div>
            <div class="producto"><img src="" alt=""></div>
            <div class="producto"><img src="" alt=""></div>
        </div>
        <div class="desarrollo_producto">
            <aside class="filtros_lateral">
                <form action="">
                    <h4>Categoria Elegida </h4>
                    <h4>Quitar Filtros</h4>
                    <h4>Mayor Precio</h4>
                    <h4>Menor Precio</h4>
                    <h4>Filtros Mas Usados</h4>
                </form>
            </aside>
            
            <div class="tarjeta_producto">
                <section><img src="" alt=""></section>
                <section>
                    <h2 class="nombre">asd</h2>
                    <h2 class="precio">123123</h2>
                    <input class="ver_producto" type="button" value="">

                </section>
            </div>
            <div class="tarjeta_producto">
                <section><img src="" alt=""></section>
                <section>
                    <h2 class="nombre">asd</h2>
                    <h2 class="precio">123123</h2>
                    <input class="ver_producto" type="button" value="">

                </section>
            </div>
            <div class="tarjeta_producto">
                <section><img src="" alt=""></section>
                <section>
                    <h2 class="nombre">asd</h2>
                    <h2 class="precio">123123</h2>
                    <input class="ver_producto" type="button" value="">

                </section>
            </div>
            <div class="tarjeta_producto">
                <section><img src="" alt=""></section>
                <section>
                    <h2 class="nombre">asd</h2>
                    <h2 class="precio">123123</h2>
                    <input class="ver_producto" type="button" value="">

                </section>
            </div>

        </div>
    </main>
    <footer>
        <section class="logos_redes">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </section>
        <section class="logo_pagina">
            <img src="" alt="">
        </section>
        <section>
            <p class="terminos_condiciones"><a href="terminos&condiciones">Terminos&Condiciones</a></p>
        </section>
    </footer>
</body>

</html>