<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')  %> 

<body>
    
    <%- include('./partials/header')  %>

    <main class="home_main_register">

        <section class="register_main">
            
        
            <h1 class="form_title">Ingresá</h1>
    
    
            <form action="/" class="form">
    
                <div class="form_box">
                    
                    <input class="form_input" placeholder="Usuario" type="text" id:"nombre" name="Firtsname">
                    <input class="form_input" placeholder="Contraseña" type="password" id:"password" name="password">
                    <button class="form__button form_button_send" type="submit">Ingresar</button>
                    <h4 class="recordar">¿Olvidaste tu contraseña?</h4>
                </div>
    
                
                    
    
            </form>
         
    </section>
                
        </main >

    <footer></footer>

</body>

</html>