<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <!--Styles-->
    <link rel="stylesheet" href="/css/shopping-cart.css">
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/b4935bb790.js" crossorigin="anonymous"></script>

</head>
<body class="shopping__body">
<header class="shopping__header">
    <section class="shopping__header__section">
        <article class="shopping__header__article"> 
            <div class="shopping__header__user">
            <span>Usuario</span>
            <a href="#"> <i class="fa-solid fa-user"></i></a>
            </div>
            <input class="shopping__header__button" type="search" name="busquedaproducto" value="Buscar productos, marcas y más .." >
        </article>
        <div class="shopping__burger-menu">
            <button class="shopping__burger-button"><i class="fa-solid fa-bars"></i></button>
        </div>
        <nav class="shopping__header__nav">
             <ul class="shopping__list">
                <li><a href="">Carrito (cantidad)</a></li>
                <hr>
                <li><a href="">Favoritos (cantidad)</a></li>
                <hr>
             </ul>
        </nav>
    </section>

</header> 


</body>
</html>