<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <!--Styles-->
    <link rel="stylesheet" href="/css/general.css">
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/b4935bb790.js" crossorigin="anonymous"></script>
</head>

<body class="shopping__body">
    <header class="shopping__header">
        <section class="shopping__header__section">
            <article class="shopping__header__article">
                <div class="shopping__header__user">
                    <span>Usuario</span>
                    <div class="shopping__header__user-icon">
                        <a href="#"> <i class="fa-solid fa-user"></i></a>
                    </div>
                    
                </div>
                <div class="shopping__header__search">
                    <input class="shopping__header__button" type="search" name="busquedaproducto"
                    value="Buscar productos, marcas y más ..">
                </div>
                
            </article>
            <div class="shopping__burger-menu">
                <button class="shopping__burger-button"><i class="fa-solid fa-bars"></i></button>
            </div>
            <nav class="shopping__header__nav">
                <ul class="shopping__list">
                    <li><a href="">Carrito (4)</a></li>
                    <hr>
                    <li><a href="">Favoritos (cantidad)</a></li>
                    <hr>
                </ul>
            </nav>
        </section>

    </header>
    <main class="shopping_main">
        <section class="shopping__main__section">
            <article class="shopping__main__article">
                <div class="shopping__main__article-product">
                    <a href="#$"> <img src="/images/intelcorei3-shopping-cart.jpg" alt=""></a>
                </div>

                <div class="shopping__main__article-div">
                    <div class="shopping__main__STOCK">
                        <a href=""> <i class="fa-solid fa-check"></i> EN STOCK </a>
                    </div>
                    <div class="shopping__main__price-discount">
                        <p class="shopping__main__price">$13.801</p>
                        <p class="shopping__main__discount">$15.299</p>
                    </div>

                    <h3>Procesador Intel Core i3 10100F 4.3GHz Turbo 1200 - HARDWARE ASSEMBLY</h3>
                </div>
            </article>

            <article class="shopping__main__article">
                <div class="shopping__main__article-product">
                    <a href="#$"> <img src="/images/Mouse-pad-shopping-cart.png" alt=""></a>
                </div>

                <div class="shopping__main__article-div">
                    <div class="shopping__main__STOCK">
                        <a href=""> <i class="fa-solid fa-check"></i> EN STOCK </a>
                    </div>
                    <div class="shopping__main__price-discount">
                        <p class="shopping__main__price">$980</p>
                        <p class="shopping__main__discount">$1200</p>
                    </div>

                    <h3>Mouse Pad gamer Xtrike Me MP-602 de caucho y tela negro - HARDWARE ASSEMBLY</h3>
                </div>
            </article>

            <article class="shopping__main__article">
                <div class="shopping__main__article-product">
                    <a href="#$"> <img src="/images/MonitorSamsung-shoppingcart.jpg" alt=""></a>
                </div>

                <div class="shopping__main__article-div">
                    <div class="shopping__main__STOCK">
                        <a href=""> <i class="fa-solid fa-check"></i> EN STOCK </a>
                    </div>
                    <div class="shopping__main__price-discount">
                        <p class="shopping__main__price">$41.999</p>
                        <p class="shopping__main__discount">$42.300</p>
                    </div>

                    <h3>Monitor Samsung LED 24 T350H IPS sin bordes 75Hz- HARDWARE ASSEMBLY</h3>
                </div>
            </article>

            <article class="shopping__main__article end">
                <div class="shopping__main__article-product-cooler">
                    <a href="#$"> <img src="/images/CoolerRgb-shoppingcart.jpg" alt=""></a>
                </div>

                <div class="shopping__main__article-div">
                    <div class="shopping__main__STOCK-NONE">
                        <a href=""> <i class="fa-solid fa-cart-arrow-up"></i> SIN STOCK </a>
                    </div>
                    <div class="shopping__main__price-discount">
                        <p class="shopping__main__price">$82.320</p>
                        <p class="shopping__main__discount">85.999</p>
                    </div>

                    <h3>Cooler Cougar para INTEL & AMD, 360mm/rgb/control remoto - HARDWARE ASSEMBLY</h3>
                </div>
                <article class="shopping__main__article-fixed">
                    <div class="shopping__main__div-fixed">
                        <p class="shopping__main__div-direction">ENVIO A Calle falsa 132</p>
                    </div>
                    <hr color="#ebebeb">
                    <div>
                        <h4 class="shopping__main__shipping">TOTAL CON ENVÍO</h4>
                        <h5 class="shopping__main__shipping-price">$139.100</h5>
                    </div>
                    <div class="shopping__main__button-fixed">
                        <button class="shopping__main__button"> COMPRAR </button>
                    </div>
                    
                </article>
            </article>
        </section>
    </article>
    </main>

</body>
</html>