/*general*/

/*cajas*/


.form{
    display:flex;
    flex-wrap: wrap;
    gap:30px;
    margin-bottom: 20px;
}



 
.form_title{
    text-align: center;
}


.form_subTitle{
    margin-bottom: 20px;
}

.form_box{
    width:100%;
    margin: 0 auto;
}


.form_box_column{
    display: flex;
    flex-direction: column;
    gap:0px;
}

.home_main_register{
    align-items: center;

}


.form_input{
    width:73%;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:10px;
    padding: 10px;
    border: 2px solid #a0a0a0;
    border-bottom: 1px solid silver;
    outline: none;
    font-size: 15px;
    font-weight: bold;
}

.form_button_send{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    color:white
}

.recordar{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.register_main_section{
   
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(45deg,red,blue,green,black);
			background-size: 400% 400%;
			position: relative;
			animation: cambiar 4s ease-in-out infinite;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10%;
    margin-top: 10%;
    color:#fff;
    text-align: center;
    font-family:'Roboto';
    font-size: 16px ;}

    @keyframes cambiar{
        0%{background-position: 0 50%;}
        50%{background-position: 100% 50%;}
        100%{background-position: 0 50%;}
    }


.register_main{
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(45deg,red,blue,green,black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 4s ease-in-out infinite;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10%;
    margin-top: 10%;
    color:#fff;
    text-align: center;
}


.form_select{
    width:82.5%;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:10px;
    padding: 10px;
    border: 1px solid silver;
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    
}



.form_text_error{
    color: red;
}



/*botones*/


.form__button{
    border:none;
    border-radius: 5px;
    color:#fff;
    padding: 7px;
    padding-left: 3px;
    margin-top:21.7px;
    flex-direction: row;
}


.form_button_send{
    background-color: #1e90ff;
    cursor: pointer;
    width:40%
}

.form_button_send:hover{
    background-color: grey
}


.form_button_cancel{
    background-color: red;
    cursor: pointer;
    width:40%;
}


.form_button_cancel:hover{
    background-color: grey;
}


@media(min-width:767px){


.register_main_section{
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


.recordar{
 text-align: center;
  padding: 20px;
}


.form_select{
    width:79%;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:10px;
    padding: 10px;
    border: 1px solid silver;
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    
}

}

@media(min-width:1024px){
    
    .form_box{
        width:100%;
    }

    .register_main_section{
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .register_main{
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
     
    

    .recordar{
        text-align: center;
         padding: 20px;
       }
   
       .form_select{
        width:77%;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top:10px;
        padding: 10px;
        border: 1px solid silver;
        background-color: #fff;
        margin-left: 10%;
        margin-right: 10%;
        
    }

}
