@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Source+Sans+Pro:wght@400;600&family=Ubuntu&display=swap');
@import './home.css';
@import './shopping-cart.css';

:root {
    --tipografiaTitulos: 'Roboto';
    --tipografiaPrecios: 'Source Sans Pro';
    margin: 0px;
    padding: 0px;
}
@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
