a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
}



:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
}