/* aca empiesa el  harcodeo  de nuestros estilos */ 

/*header*/
.menu_header{

};
.carrito{

};
.imagen_header{

};


/*main*/
.cuadro_categorias{

};
.producto{
    border: solid 1px black ;
    width: 120 px;
    height: 180 px;


};
.desarrollo_producto{

};
.filtros_lateral{

};
.tarjeta_producto{

};
.nombre{

};
.precio{

};
.ver_producto{

};
/*footer*/
.logos_redes{

};
.logo_pagina{

};
.terminos_condiciones{

};

