/* HEADER PANEL  */

i{
    margin-left:5px ;
}
.botonera-admin{
    display: flex;
    flex-direction: row;
    background-color : #003053;
    margin: 0;
    padding: 0%;
    height: 125px;
    justify-content: space-around;
    list-style: none;
    font-style: var(--tipografiaTitulos);
}
.botonera-admin .botones-admin{
    justify-content: space-around;
    
}
.botones-admin{
    display: flex;
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.logout {
    background-color: rgb(189, 6, 6);
    display: block;
    color: #fefefe;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    width: 150px;
  }
.cat2{
    list-style: none;
}
.logo-home-admin { 
   
    text-decoration:none;
    color: rgb(83, 194, 80);
    font-size: 25px;
    
  }
.barra-lateral-admin{
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #45a7b9bb;;
    top:125px;
    
}
.lista-componentes{
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 500px;
    width: 250px;
    justify-content:space-around;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: rgba(155, 155, 155, 0.719);

}
.titulo{
    display: flex;
    justify-content: center;
    color:#374249;
    background-color:#45a7b9;
   
   
    
}
.direccion{
    display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
    text-decoration: none;
    color: black;
    margin: 0% auto;
   padding: 10px;
   font-style: var(--tipografiaTitulos);
   color: aliceblue;
   border: 2px solid;
   border-radius: 2px;
  
   
}

.cat-1{
    font-size: 20px;
    width: 100%;
}
.cat-1 a:hover{
    cursor: pointer;
background-color:lightgray;
}

ul {
    list-style: none;
}

/*BODY PANEL */


.form_adm {
    width: 100%;
    max-width: 332px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form_adm input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }
  
  .form_adm button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
  }