
.form__text--error{
    color:red
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.form-groupr {
    width: 5px;
}
.register_main_section {
    width: 400px;
    background: #0D1329;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .register_input {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

  .register_main_section h1{
    font-size: 22px;
    margin-bottom: 20px;
  }


  .register_main_section .botons{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: rgba(0,0,0,.5);
  }
  .register_main_section .botons:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
  .register_main_section .cancel{
    width: 100%;
    background: red;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor:pointer
  }

  

/*botones*/



/*
.form__button{
    border:none;
    border-radius: 5px;
    color:#fff;
    padding: 7px;
    padding-left: 3px;
    margin-top:21.7px;
    flex-direction: row;
}


.form_button_send{
    background-color: #1e90ff;
    cursor: pointer;
    width:40%
}

.form_button_send:hover{
    background-color: grey
}


.form_button_cancel{
    background-color: red;
    cursor: pointer;
    width:40%;
}


.form_button_cancel:hover{
    background-color: grey;
}


@media(min-width:767px){


.register_main_section{
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


.recordar{
 text-align: center;
  padding: 20px;
}


.form_select{
    width:79%;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:10px;
    padding: 10px;
    border: 1px solid silver;
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    
}

}

@media(min-width:1024px){
    
    .form_box{
        width:100%;
    }

    .register_main_section{
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .register_main{
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
     
    .form_select{
        width:76%;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top:10px;
        padding: 10px;
        border: 1px solid silver;
        background-color: #fff;
        margin-left: 12%;
        
    }
    

    .recordar{
        text-align: center;
         padding: 20px;
       }
   


    .form_input{
        justify-content: center;
    }

    small.form__text--error{
        text-align: center;
    }

}
