
.form__text--error{
    color:red
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.form-groupr {
    width: 5px;
}
.register_main_section {
    width: 400px;
    background: #0D1329;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 6px 6px 17px #000;
    margin-bottom: 10px;
  }
  
  .register_input {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

  .register_main_section h1{
    font-size: 22px;
    margin-bottom: 20px;
  }


  .register_main_section .botons{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: rgba(0,0,0,.5);
  }
  .register_main_section .botons:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
  .register_main_section .cancel{
    width: 100%;
    background: red;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor:pointer
  }
  @media(max-width:425px){
    .register_main_section{
      width: 90%;
    }
    .form-inputr  {
        width: 40%;
    }
    }