@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Sans+Pro:wght@400;600&family=Ubuntu&display=swap');
@import './home.css';
@import './shopping-cart.css';
@import './form.css';
@import './detail.css';

:root {
    --tipografiaTitulos: 'Roboto';
    --tipografiaPrecios: 'Source Sans Pro';
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --colorRojo: rgb(253, 74, 74);

}
@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
a{
    text-decoration: none;
}





