/* DASHBOARD */
/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* VARIABLES */

:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #184463;
    --bg-menu: #003053;
    --bg-body: #C7E1FF;
}

/* LAYOUT */

.menu-dashboard {
    display: none;
    z-index: 1;
    width: 4rem;
    max-width: 150px;
    height: 100vh;
    background:#cafdf469;
    padding: 20px;
    transition: max-width .3s ease;
    width: 10%;
    max-width: 300px;
}

/* .top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu .logo {
    display: flex;
    align-items: center;
}

.top-menu .logo img {
    width: 40px;
    transition: width .3s ease;
}
 */
.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}



/* ENLACES MENU */
.menu .enlace {
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
    z-index: 2;
}

.menu .enlace:hover {
    background:   #0D1329;
}

.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
}

.menu .enlace span {
    transition: opacity .3s ease;
    width: auto;
}
.button-dashboard {
  cursor: pointer;
}
.tuerca {
  position: absolute;
  top: 20px;
  left: 1%;
  color: #cfcfcf;
  font-size: 30px;
  z-index: 2;
  transition: 1.2s; 
}
.activa {
  transform: rotateX(6.142rad);
  transition: 1.2s;
  transition-timing-function: ease-in-out;
  left: 9%;
  z-index: 2;
  position: fixed;
}

.menu-dashboard.active{
  display: block;
  position: fixed;
}


/* BUTTO DARK-MOON */

 .dark {
  background-color: #0D1329;
  color: white;
  transition: all 1.5s ease;
 }
 .body {
  transition: all 1.5s ease;
 }
 .luna {
  width: 30px;
  margin-left: 20px;
  font-size: 22px;
  background-color: #01F603;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: space-between;
  padding-right: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.sol {
  width: 40px;
  margin-left: -20px;
  font-size: 22px;
  background-color: #01f6016e;
  border-radius: 10px;
  color: rgb(247, 243, 33);
  text-align: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 1.5s ease;
}
.theme-web  {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  transition: all 1.5s ease;
} 
.toggle {
  position: relative;
  display: block;
  width: 70px;
  height: 30px;
  border-radius: 160px;
  background-color: #222;
  box-shadow: inset 0 8px 68px rgba(0,0,0,0.1),
              inset 0 8px 8px rgba(0,0,0,0.1),
              inset 0 -4px 4px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.5s;
}
.toggle-title{ 
  margin-right: 15px;
  font-size: 15px;
  color: white;
}
.toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 30px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  transition: 0.5s;
}
.toggle.active .indicator {
  left: 35px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: inset 0 8px 20px  rgba(0,0,0,00.1s),
              inset 0 4px 4px  rgba(255,255,255,1),
              inset 0 -4px 4px  rgba(255,255,255,1);
  transition: 0.4s;
}
.toggle.active { 
  background: #fff;
  box-shadow: inset 0 2px 60px  rgba(0,0,0,0.1),
              inset 0 2px 8px  rgba(0,0,0,0.1),
              inset 0 -4px 8px  rgba(0,0,0,0.5);
  transition: 0.5s;
}

 /* NAVEGATION */
  .header__search {
    display: block;
    width: 100%;
    margin: auto;
  }
  .header__form {
    display: flex;
    position: relative  ;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  .header__search form {
    display: flex;

    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    outline: none;
    box-sizing: border-box;
  }
  .header__search input ::placeholder {
    color: #cfcfcf ;
  }
  .shopping__header__button{ 
    display: flex;
    justify-content: center;
    background-color:#0D1329;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--tipografiaTitulos);
    width: 33%;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 7px;
    outline: none;
}
.header__form button {
  background-color: #01F603;
  border: none;
  border-radius: 5px;
  /* position: relative;
  right: 2%; */
  height: 32px;
  width: 32px;
  max-width: 32px !important;
  min-width: 22px !important;
  margin-left: 5px;
}

  /* HEADER */
.section-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.burger-button {
  top: 90px;
  border: none;
  font-size: 150%;
  height: 20px;
}
header {
  background: #0D1329;
}
.dashboard ul li {
text-align: left;
}
.dashboard ul {
  display: flex;
  list-style: none;
  justify-content: end;
}
/* .icon-profile i {
  position: absolute;
  top: 55px;
  margin-left: 30px;
  color: wheat;
  font-size: 30px;
} */
.login {
  background-color: rgb(19, 95, 196);
}
.logout {
  background-color: rgb(189, 6, 6);
}
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 450px;
  border: 22px;
  border-color: yellowgreen;
}
.banner img {
  width: 85%;
  height: 430px;
  text-align: end;
}
.logo__header img {
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 1200px;


}

.div-nav-bar {
  display: flex;
  justify-content: end;
  width: 100%;
}
.nav-bar ul {
  display: flex;
  justify-content: end;
  list-style: none;
  padding-right: 15px;
  padding-top: 2%;
}
.nav-bar ul li a {
  display: block;
  color: #fefefe;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;

}
.nav-bar ul li a:hover {
  color: #0D1329;
  background-color: #fefefe;
}
.nav-bar ul li a.active {
  color: #0D1329;
  backdrop-filter: #fefefe;
}
.burger {
  display: none;
}

@media (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}
@media (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media (max-width: 1000px) {
  .menu-dashboard {
    display: none;
  }
  .meu
  .banner {
    display: none;
  }
  header {
    cursor: pointer;
  }
  .burger {
    margin-top: 15px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 1px solid #fff;

  }
  .burger-menu {
    width: 15px;
    height: 1.2px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;

  }
  .burger-menu::before,
  .burger-menu::after {
    content: '';
    position: absolute;
    top: 0px;
    width: 15px;
    height: 1.2px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all 1.5s ease-in-out;
  }
  .burger-menu::before{
    transform: translateY(5px)
  }
  .burger-menu::after{
    transform: translateY(15px);
  }

/*   ANIMATION BURGER */
.burger.open .burger-menu {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.burger.open .burger-menu::before {
  transform: rotate(45deg) translate(35px,-35px);
}
.burger.open .burger-menu::after {
  transform: rotate(-45deg) translate(35px,35px);
}

/*  */
  .nav-bar {
    height: 0;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #0D1329;
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-bar.active {
    height: 450px;
    margin-bottom: 500px;
    z-index: 1;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 20px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 1;
  }

}
