.profile{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}
.saludo {
    border: 1px solid black ;
    
}
.wrapper{border: 1px solid black ;}
.img-User{border: 1px solid black ;}
.info-User{}
