

.profile{
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--tipografiaTitulos);
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.saludo {font-family: var(--tipografiaTitulos);
    padding: 10px ;
    
}
.wrapper{ 
    font-family: var(--tipografiaTitulos);
    
margin: 20px;
box-shadow: 2px 1px 2px 1px rgba(128, 128, 128, 0.524);
border-radius: 10px;

}
.img-User{
  text-align: center; 
    padding: 20px;
    object-fit: cover;
    align-items: space-around;
    text-align: center;
    max-width: 300px;
    max-height: 300px;
    
    
}

.imagen-perf{ 
    border-radius: 50px;
    width: 100%;
    height: 100%;
}
.info-User{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}
.atributos {
    
    text-align: left;
    padding: 5px;
margin-right: 10px;
}
.botonesP{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}

@media(min-width:767px) {

    .img-User{  margin-left: 80px;}
    
   .wrapper{
    display: flex;
    
    
    }
    .info-User{
        margin-left: 60px;

    }
    
} 



