body {
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0;




}

.ph-x {
    font-size: 20px;
    font-style: normal;
}


.logo {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;

}

.cart-items {
    margin: 0;
    padding: 0;
    list-style: none;


}

.cart-item {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-item__image{
    width: 50%;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.44);
    width: auto;
    max-width: 35%;
    align-items: center;
    justify-content: center;
    text-align: center;
} 
.cart-item__image{
    object-fit: cover;
} 

.cart-item__name {


    font-size: 18px;
}

.cart-item__variant {


    color: #666666;
}

.cart-item__amount {

    color: #000000
}


.total-price {

    justify-self: flex-end;
}

.remove-button {

   width: 100px;
   height: 100px;
}

.cart-item__remove-button:hover {
    color: #ee4a68;
}

.cart-container {

    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;


}
.sector{
    display: flex;
 
    align-items: center;
}

.cart-p {
    background: #f1f1f1;
    color: #000000;
    border-radius: 6px;
    padding: 32px;


}

.checkout-button {
    margin-block-start: 80px;
    width: 100%;
}

.checkout-button {
    appearance: none;
    border: 2px solid transparent;
    box-shadow: none;
    background: #1c3998;
    color: #ffffff;
    border-radius: 6px;
    font: inherit;
    padding-block: 16px;
    text-align: center;
    padding-inline: 24px;
    cursor: pointer;
  
    transition: 100ms ease;

}

.checkout-button:hover {
    border-color: #345ea6;
    color: #4134a6;
    background: transparent;
}

@media(min-width:320px) {
    .cart-item {
        flex-direction: row;
    }
}



@media(min-width:760px) {
    .cart-container {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
    
    
    }
    .sector{
        flex-direction: row;
        justify-content: space-around;
    }
    aside{
        display: flex;
        justify-self:flex-end ;
        position: fixed;
        left: 80%;
    }
   .cart-item{
    width: 100%;
    height: 300px;
   }
   .cart-item__image{
    height: 300px;
   }
}