.body-terms{
   box-sizing: border-box;
font-family: 'Raleway', sans-serif;
background-color: var(--colorDark);
}
.container-terms{
    display: grid;
    place-items: center;
    width: 300px;
    height: 700px;
    background-color: rgb(207, 221, 236);
border-radius: 5px;
box-shadow: 2px 3px 2px 3px rgba(173, 185, 199, 0.502);
 
}

.text{
    text-align: center;
  height: 500px;
    border: 1px solid lightskyblue;
    padding: 5px;
    margin: 3%;
   background-color: rgb(212, 237, 252);
    overflow-y: scroll;
}

.inferior{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arriba{
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}
.abajo{
    display: none;
    transition: 1.5s;
}

.button-terms {
    background-color: lightsteelblue;
    font-size: 18px;
    padding: 5px 20px;
    border: solid 1px;
    border-radius: 50px;
    transition: .2s;
    margin-top: 10px;
}
.button-terms:hover {
    background-color: var(--colorButton);
    padding: 10px 20px;
}
@media(min-width:760px){
    .text{
        text-align: center;
        width: 500px;
        height: 400px;
        border: 1px solid lightskyblue;
        padding: 20px;
        margin: 5%;
    }
    .container-terms{
        margin-top: 100px;
        margin-bottom: 500px;
        width: 600px;
        height: 600px;
        position: absolute;
        left: 33%;
     
    }
}
