<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>
      <script type="text/javascript">
        function showContent() {
          element = document.getElementById("content");
          check = document.getElementById("check");
          if (check.checked) {
            element.style.display = 'block';
          }
          else {
            element.style.display = 'none';
          }
        }

      </script>
      <div class="container cart-container">

        <main>


          <ul class="cart-items">
            <li class="cart-item">
              <img class="cart-item__image" src="" />
              <section class="sector">
                <h2 class="cart-item__name"> </h2>
                <span class="cart-item__variant">U</span>
                <div class="cart-item__amount">
                  <input type="number" value="1" min="1" max="10" />
                </div>
                <label class="cart-item__total-price">$1400</label>
                <button class="cart-item__remove-button">
                  <i class="ph-x">x</i>
                </button>
              </section>
            </li>

        </main>
        <aside>
          <div class="cart-p">
            <p>
              Aprovecha el<br />
              ENVIO Gratuito Comprando ahora!
            </p>
            <button class="checkout-button">Comprar!</button>
          </div>
        </aside>
      </div>


  </body>

</html>