<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')  %> 


    
    <%- include('./partials/header')  %>

   
        
            
            <body>

                <div class="login-box">
                    <h2>Login</h2>
                    <form id="form-loginn">
                      <div class="user-box">
                        <input type="text" name="email" id="email" required="" autocomplete="off">
                        <small id="errorEmail" class="form__text--error"></small>
                        <label>Username</label>
                      </div>
                      <div class="user-box">
                        <input type="password" name="password" id="password" required="" autocomplete="off" autofocus="off">
                        <small id="errorPass" class="form__text--error"></small>
                        <label>Password</label>
                      </div>
                      <a href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Submit
                      </a>
                    </form>
                  </div>
            </body>
    <script src="/javascripts/userLogin.js">
       const submit = document.querySelector('submit');
        submit.addEventListener('click', function () {
            submit.submit()
        })
    </script>
  

</html>