<!DOCTYPE html>
<html lang="en">
<head>
  
    <%- include('./partials/head')  %> 
</head>
<body class="body-terms">
    <script type="text/javascript">
      function showContent() {
        element = document.getElementById("content");
        check = document.getElementById("check");
        if (check.checked) {
          element.style.display = "block";
        } else {
          element.style.display = "none";
        }
      }
    </script>
  </body>
</html>
