<!DOCTYPE html>

<link rel="stylesheet" href="/public/stylesheets/footer.css">

<body>

    <footer>
        <section class="secciones">

            <section class="contacto">
                <a href="">CONTACTO</a>

                <p><i class="fab fa-instagram"></i> Instagram.com/hardware-assembly</p>
                </i>

                <p><i class="fab fa-facebook-square"></i> faceboook.com/hardware-assembly</p>
                </i>

                <p><i class="fab fa-twitter"></i> twitter.com/hardware-assembly</p>
                </i>
                <p><i class="fas fa-envelope-open-text"></i> info@hardware-assembly.com</p>
                </i>
            </section>

            
                <section class="pagos">
                    

                    <a href="">MÉTODOS DE PAGO</a>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-cc-amex"></i>
                    <i class="fab fa-cc-diners-club"></i>
                    <i class="fab fa-cc-visa"></i>

                    <a href="/">Terminos&Condiciones!</a>
                </section>
            
            <section class="mapa">
                <a href="">DIRECCIÓN</a>
                <p>Calle 123, CABA</p>
               <a href="https://goo.gl/maps/24RC5EMBzvk8cXee9" target="_blank"><img src="/images/IMG.jpeg" alt="" style="cursor: pointer;"></a> 
            </section>
        </section>
    </footer>

</body>
