<footer>
    <section class="logos_redes">
        <nav class="logos"><a href=""> <i class="fa-brands fa-facebook"></i></a>
            <a href=""> <i class="fa-brands fa-instagram"></i></a>
            <a href=""> <i class="fa-brands fa-twitter"></i></a>
            <a href=""> <i class="fa-brands fa-twitch"></i></a>
            <a href=""> <i class="fa-brands fa-linkedin"></i></a>
            <a href=""> <i class="fa-brands fa-google-play"></i> </a>
        </nav>
    </section>
    <section class="logo_pagina">
        <img src="" alt="">
    </section>
    <section>
        <p class="terminos_condiciones"><a href="/terms.ejs">Terminos&Condiciones</a></p>
    </section>
</footer>