<header>

  <section class="section-header">
    <div class="burger">
      <div class="burger-menu"></div>
    </div>
    </div>

    <div>

      <div class="div-nav-bar">
        <section class="contenedor-busqueda">
          <div class="logo-home">
            <a href="/">
              <h4> Hardware&Assembly</h4>
            </a>
          </div>
          <form action="/products/search" method="GET" class="search-form">
            <div class="header__search">
              <div class="header__form">

                <input class="shopping__header__button" type="search" name="keywords"
                  placeholder="Buscar productos, marcas y más ..">

                <button type="submit" style="cursor: pointer;">
                  <i class="fa-solid fa-magnifying-glass glass" style="cursor: pointer;"></i>
                </button>

              </div>

            </div>
          </form>

          <nav class="nav-bar " id="navbar">
            <% if (locals.userLogin) { %>
              <div class="botones-logheader">
                <% if (userLogin.role_id===2) { %>
                  <ul>
                    <li>
                      <a href="/users/panel"><i class="fas fa-user"></i> Administracion</a>
                    </li>
                    <li style="display: none;">
                      <a href="/products/add">Agregar</a>
                    </li>
                    <% } %>
                    <% if (userLogin.role_id===1) { %>
                      <li>
                      <a href="/users/profile"><i class="fas fa-user"></i> Perfil</a>
                      </li>
                      <% } %>
                      <li>
                        <a href="/users/logout" class="logout"><i class="fa fa-sign-out" aria-hidden="true"></i>
                          Salir</a>
                      </li>

                </ul>
                <% }else{ %>
                  <ul>
                    <li>
                      <a href="/users/login" class="login"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</a>
                    </li>
                    <li>
                      <a href="/users/register"><i class="fa-regular fa-address-card"></i> Registrate</a>
                    </li>
                  </ul>

                  <% } %>
              </div>
        </section>
        </nav>
      </div>
      <div class="theme-web">
        <div class="toggle-title">
          <p style="color: white" class="toggle-title2">MODO OSCURO</p>
        </div>
        <div class="toggle">
          <i class="indicator"></i>
        </div>
      </div>

  </section>


  <script>
    hamburger = document.querySelector(".burger");
    conteiner = document.querySelector(".contenedor");
    const navbar = document.getElementById('navbar')
    let menuOpen = false;
    hamburger.addEventListener("click", function () {
      navbar.classList.toggle('active')

      if (menuOpen == true) {
        hamburger.classList.add('open');
        menuOpen = false;
      } else {
        hamburger.classList.remove('open');
        menuOpen = true;
      }
    });

    const toggle = document.querySelector(".toggle");
    const body = document.body;
    const toggleTitle = document.querySelector(".toggle-title");

    toggle.addEventListener("click", async (e) => {

      sessionStorage.setItem('modo', sessionStorage.getItem('modo') == 1 ? 0 : 1);


      await toggle.classList.toggle("active");
      await toggleTitle.classList.toggle("active");
      await body.classList.toggle("dark");
      if (toggleTitle.classList.contains("active")) {
        toggleTitle.innerHTML = '<p style="color: white;">MODO OSCURO</p>';
      } else {
        toggleTitle.innerHTML = '<p style="color: white;">MODO CLARO</p>';
      }
    });


    window.addEventListener('load', () => {
      if (sessionStorage.getItem('modo') == 1) {
        document.body.classList.toggle('dark')
        toggleTitle.innerHTML = '<p style="color: white;">MODO OSCURO</p>';

      } else {
        toggleTitle.innerHTML = '<p style="color: white;">MODO CLARO</p>';


      }
    })

  </script>
</header>