<header class="header">
    <section class="header__section">
        <div class="ingreso_registro">
            <nav class="header__nav">
            <% if (locals.userLogin) { %>  
                    <ul class="username">
                        <li>
                          <a href="/users/profile" ><%= userLogin.firstname %></a> 
                        </li>
                        <li>
                            <a href="/users/logout">Salir</a>
                        </li>
                    </ul>
                  
            <% if (userLogin.role_id === 2) { %>
                <div>
                    <li class="header__agregar"><a href="/products/add"> <h3>Agregar</h3> </a></li>
                </div>
            <% } %>
        <% }else{ %>
                    <a href="/users/login"> 
                    <h3>Logueate! <i class="fa-solid fa-user-shield"></i></h3>
                </a>
                    <a href="/users/register">
                        <h3>Registrate! <i class="fa-solid fa-id-card"></i></h3>
                    </a>
        <% } %>
    
</nav>
    </div>
    <!--  <div class="cart_icon">
            <div class="cart_box">
                
                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
            </div>
        </div> -->
        <article class="header__article">
            <form action="/products/search" class="header__search" method="GET">
                <input class="shopping__header__button" type="text" name="keywords" id="keywords" placeholder="Buscar productos, marcas y más ..">
            </form>
        </article>
<!--         <div class="burger-menu">
            <button class="burger-button"><i class="fa-solid fa-bars"></i></button>
        </div> -->
    </section>
</header>