<header class="h-admin">

    <div class="botonera-admin">
        <ul class="botones-admin">
            <li class="cat-2">
                <a href="/" class="logo-home-admin">
                    <h4> Hardware&Assembly</h4>
                </a>
                </li><li>
                <a href="/users/logout" class="logout"><i class="fa fa-sign-out" aria-hidden="true"></i>
                    Salir</a>
            </li>
        </ul>
    </div>
    <div class="barra-lateral-admin">

        <section class="titulo">
            <a href="/users/panel" style="text-decoration: none;"><h2>Admin Panel</h2></a>
        </section>
        <ul class="lista-componentes">
            <br>
            <li class="cat-1">
                <span><a class="direccion" href="/users/panelProducts"> Productos Activos <i class="fa-solid fa-bag-shopping"></i></a></span>
            </li>
            <br>
            <li class="cat-1">
                <a class="direccion" href="/products/add"> Agregar producto  <i class="fa-solid fa-plus"></i> </a>
            </li>
            <br>
        </ul>
    </div>
    <footer class="adminfooter">
        <div class="footer-a"></div>
    </footer>

</header>
<body class="">
    <a href=""></a>