<header class="header">
    <section class="header__section">
        
        
        <div class="ingreso_registro">
            <% if (locals.userLogin) { %>
                
                <nav class="header__nav">
                    <ul>
                        <li>
                          <a href="/users/profile"><%= userLogin.firstName %></a> 
                          <ul   >
                              <li>
                                <a href="/users/logout" id="btnLogout" >Salir</a>
                            </li>
                            </ul>
                        </li>
                    </ul>
                  </nav>

            
        
                
        
            <% if (userLogin.rol === "admin") { %>
                
                    <a href="/products/add">Agregar</a>
                    
            <% } %>
        <% }else{ %>
            <a href="/users/login"> 
                <h3>Logueate! <i class="fa-solid fa-user-shield"></i></h3>
            </a>
            <a href="/users/register">
                <h3>Registrate! <i class="fa-solid fa-id-card"></i></h3>
            </a>
        <% } %>
    </ul>
        
    </div>
    <!--  <div class="cart_icon">
            <div class="cart_box">
                
                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
            </div>
        </div> -->
        <article class="header__article">
            <div class="header__user">



            </div>
            <form action="/products/search" class="header__search" method="GET">
                <input class="shopping__header__button" type="text" name="keywords" id="keywords" placeholder="Buscar productos, marcas y más ..">
            </form>
            <div>
                <li class="header__agregar"><a href="/products/add"> <h3>Agregar</h3> </a></li>
            </div>
        </article>
<!--         <div class="burger-menu">
            <button class="burger-button"><i class="fa-solid fa-bars"></i></button>
        </div> -->
    </section>
</header>