
<header>

  <section>
    <div>
      <div class="button-dashboard">
        <i class="fa-solid fa-gears tuerca"></i>
      </div> 
    </div>
    <div class="menu-dashboard">
      <!-- TOP MENU -->
      <div class="top-menu">
          <div class="logo">
              <i><img src="../../../public/lgo.jpg" alt=""></i>
              <span>Hardware Assembly</span>
          </div>
      </div>
      <!-- MENU -->
      <div class="menu">
          <div class="enlace">
            <i class="fa-solid fa-user"></i>
              <span>Perfil</span>
          </div>
  
          <div class="enlace">
            <i class="fa-solid fa-cart-shopping"></i>
              <span>Carrito de compras</span>
          </div>
  
          <div class="enlace">
            <i class="fa-regular fa-heart"></i>
              <span>Favoritos</span>
          </div>
  
          <div class="enlace">
            <i class="fa-brands fa-instagram"></i>
              <span>Redes sociales</span>
          </div>
      </div>
  </div>
  </section>

  
  <!--       <div class="icon-profile">
                <i class="fa-regular fa-user"></i>
            </div> -->

  <!--    <div class="dashboard">
            <ul>
                <li>Nombre de usuario</li>
                <li>correo electronico</li>
                <li>editar usuario</li>
                <li>Contactanos</li>
            </ul>
        </div> -->

  <section class="section-header">
    <div class="burger">
      <div class="burger-menu"></div>
    </div>
  </div> 

 
  <div>
    <div class="div-nav-bar">
      <div class="header__search">
        <div class="header__form">
          <input class="shopping__header__button" type="text" name="keywords"
          value="" placeholder="Buscar productos, marcas y más .." >
          <button>
            <i class="fa-solid fa-magnifying-glass glass" ></i>
          </button>
          
        </div>
          
      </div>  
      <nav class="nav-bar active">
        <% if (locals.userLogin) { %>
        <ul>
          <li>
            <a href="/users/profile">Perfil</a>
          </li>
          <li>
            <a href="">Carrito</a>
          </li>
          <% if (userLogin.role_id === 2) { %>
            <li>
                <a href="/products/add">Agregar</a>
              </li>
              <% } %>
          <li>
            <a href="/users/logout" class="logout">Salir</a>
          </li>
          
        </ul>
        <% }else{ %>
            <ul>
                <li>
                    <a href="/users/login" class="login">Iniciar sesión</a>
                  </li>
                  <li>
                    <a href="/users/register">Registrate</a>
                  </li>
            </ul>

              <% } %>


      </nav>
    </div>
    <div class="theme-web">
      <div class="toggle-title">
        <p style="color: white" class="toggle-title2">MODO OSCURO</p>
      </div>
      <div class="toggle">
        <i class="indicator"></i>
      </div>
    </div>
    <div class="banner">
      <img src="banner2.jpg" alt="" />
    </div>
  </section>

  <script>
    hamburger = document.querySelector(".burger");
    navBar = document.querySelector(".nav-bar");
    conteiner = document.querySelector(".contenedor");
    let menuOpen = false;
    hamburger.addEventListener("click", function () {
      
      if(menuOpen == true){
        hamburger.classList.add('open');
        menuOpen = false;
      } else {
        hamburger.classList.remove('open');
        menuOpen = true;
      }
      navBar.classList.toggle("active");
    });

    const toggle = document.querySelector(".toggle");
    const body = document.querySelector(".body");
    const toggleTitle = document.querySelector(".toggle-title");
    
    toggle.addEventListener("click", (e) => {
      toggle.classList.toggle("active");
      toggleTitle.classList.toggle("active");
      body.classList.toggle("dark");
      if (toggleTitle.classList.contains("active")) {
        toggleTitle.innerHTML = '<p style="color: white;">MODO CLARO</p>';
      } else {
        toggleTitle.innerHTML = '<p style="color: white;">MODO OSCURO</p>';
      }
    });


const toggledash = document.querySelector(".toggledash")
const menuDashboard = document.querySelector(".menu-dashboard")
const iconoMenu = toggle.querySelector("i")
const enlacesMenu = document.querySelectorAll(".enlace")
const geat = document.querySelector(".tuerca")
geat.addEventListener("click", () => {
    menuDashboard.classList.toggle("active")
    geat.classList.toggle("activa")
})

enlacesMenu.forEach(enlace => {
    enlace.addEventListener("click", () => {
        menuDashboard.classList.add("active")
        iconoMenu.classList.replace("bx-menu", "bx-x")
    })
})  
  </script>
</header>
