<header>
  <!--       <div class="icon-profile">
                <i class="fa-regular fa-user"></i>
            </div> -->

  <!--    <div class="dashboard">
            <ul>
                <li>Nombre de usuario</li>
                <li>correo electronico</li>
                <li>editar usuario</li>
                <li>Contactanos</li>
            </ul>
        </div> -->

  <section class="section-header">
    <div class="burger">
      <button><i class="fa-solid fa-bars"></i></button>
    </div>
    <div class="div-nav-bar">
      <nav class="nav-bar active">
        <% if (locals.userLogin) { %>
        <ul>
          <li>
            <a href="/users/profile">Perfil</a>
          </li>
          <li>
            <a href="">Carrito</a>
          </li>
          <% if (userLogin.role_id === 2) { %>
            <li>
                <a href="/products/add">Agregar</a>
              </li>
              <% } %>
          <li>
            <a href="/users/logout" class="logout">Salir</a>
          </li>
          
        </ul>
        <% }else{ %>
            <ul>
                <li>
                    <a href="/users/login" class="login">Iniciar sesión</a>
                  </li>
                  <li>
                    <a href="/users/register">Registrate</a>
                  </li>
            </ul>

              <% } %>
      </nav>
    </div>
    <div class="theme-web">
      <div class="toggle-title">
        <p style="color: white" class="toggle-title2">MODO OSCURO</p>
      </div>
      <div class="toggle">
        <i class="indicator"></i>
      </div>
    </div>
    <div class="banner">
      <img src="banner2.jpg" alt="" />
    </div>
  </section>

  <script>
    hamburger = document.querySelector(".burger");
    navBar = document.querySelector(".nav-bar");
    conteiner = document.querySelector(".contenedor");
    hamburger.addEventListener("click", function () {
      navBar.classList.toggle("active");
    });

    const toggle = document.querySelector(".toggle");
    const body = document.querySelector(".body");
    const profile = document.querySelector("profile")
    const toggleTitle = document.querySelector(".toggle-title2");

    toggle.addEventListener("click", (e) => {
      toggle.classList.toggle("active");
      body.classList.toggle("dark");
      profile.classList.toggle("dark");
      if (toggle.classList.contains("active")) {
        toggleTitle.innerHTML = '<p style="color: white;">MODO CLARO</p>';
      } else {
        toggleTitle.innerHTML = '<p style="color: white;">MODO OSCURO</p>';
      }
    });
  </script>
</header>
